body {
    background-image: url(../Mesa\ de\ trabajo\ 57.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    flex-direction: column;
}

.semaforos-contenedor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    grid-template-areas: ". . ."; 
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.pantallas {
    height: 500px;
}

.semaforo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
    width: 110px;
    height: 300px;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 0px 0px 1px 1px #000000;
}

.luces {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(rgb(48, 48, 48), #000000);
    box-shadow: 0px 0px 2px 2px #000000;
}


.luzRoja {
    background: radial-gradient(circle, #ff0000, #800000);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.luzAmarilla {
    background: radial-gradient(circle, #ffff00, #cccc00);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
}

.luzVerde {
    background: radial-gradient(circle, #00ff04, #008000);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.botones {
    margin-top: 0;
    background-image: url(../Background-iron.png
    );
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
    display: flex;
   justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}

.tablero {
    background-color: #929292;
    z-index: 2;
    border-radius: 0% 0% 20% 20%;
    border: 3px solid rgb(110, 109, 109);
    box-shadow: 0px 0px 50px 1px inset rgb(61, 61, 61);
    padding-top: 30px;
    padding-bottom: 50px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.botonEncendido {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    border: 5px solid #a6a6a6;
    box-shadow: 0px 0px 5px 0px #7f7e7e;
    z-index: 3;
}

.on {
    background: radial-gradient(rgb(248, 133, 133), #ff0000);
}

.off {
    background: radial-gradient(rgb(161, 248, 133), #59ff00);
}

.botonEncendidoImg {
    padding-bottom: 5%;
    width: 30px;
    height: 30px;
}

.botonCambio {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;

    border: 5px solid #a6a6a6;
    box-shadow: 0px 0px 5px 0px #7f7e7e;
    z-index: 3;
}

.botonCambioHab {
    background: radial-gradient(rgb(248, 175, 133), #ff9100);

}


.botonCambioDes {
    background: radial-gradient(rgb(185, 184, 184), #a0a0a0);
}


.botonCambioImg {
    height: 30px;
}


.botonIntermitenteLogo {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    border: 5px solid #a6a6a6;

    box-shadow: 0px 0px 5px 0px #7f7e7e;
    z-index: 3;
}


.botonInterHab {
    background: radial-gradient(rgb(250, 255, 209), #efe824);
}

.botonInterDes {
    background: radial-gradient(rgb(185, 184, 184), #a0a0a0);
}


.botonIntermitenciaImg {
    height: 30px;
}

.botonAutomaticoLogo {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    border: 5px solid #a6a6a6;
    box-shadow: 0px 0px 5px 0px #7f7e7e;
    z-index: 3;
}

.botonAutoHab {
    background: radial-gradient(rgb(205, 206, 236), #2d42ff);
}

.botonAutoDes {
    background: radial-gradient(rgb(185, 184, 184), #a0a0a0);
}



.botonAutomaticoImg {
    height: 30px;
}


@font-face {
    font-family: "DS Digi";
    font: weight 400px;
    src: url("../FUENTES/ds-digi-webfont.woff2") format("woff");
}

.luzAmarillaLed {
    font-family: DS Digi;
    border: #00000000;
    font-size: 80px;
    text-align: center;
}

.cuentaRojo {
    color: #ff0000;
}

.cuentaVerde {
    color: #00ff04;
}

.cuentaAmarillo {
    color: #ffff00;
}


/* .BaseMaquina {

    top: 74.6%;
    left: 33.9%;
    width: 32%;
    height: 12%;
    background-color: #5f5f5f;
    z-index: 2;
    border-radius: 0% 0% 20% 20%;
    border: 3px solid rgb(179, 179, 179);
    box-shadow: 0px 0px 50px 1px inset rgb(19, 19, 19);
} */

/* .Manija1 {
    position: absolute;
    width: 1%;
    left: 44.7%;
    bottom: 25%;
    height: 10%;
    background-color: #5f5f5f;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: 0px 0px 4px 1px inset rgb(19, 19, 19);
    z-index: 1;
}

.Estuche1 {
    position: relative;
    bottom: 4%;
    right: 30%;
    border-radius: 5px;
    width: 150%;
    height: 46%;
    background-color: #00ff04;
    box-shadow: 0px 0px 10px 1px inset rgb(3, 119, 8);
    z-index: 2;
}

.Estuche2 {
    position: relative;
    top: 15%;
    right: 30%;
    border-radius: 5px;
    width: 150%;
    height: 15%;
    background-color: #00ff04;
    box-shadow: 0px 0px 10px 1px inset rgb(3, 119, 8);
    z-index: 2;
}

.Manija2 {
    position: absolute;
    width: 1%;
    right: 45.5%;
    bottom: 25%;
    height: 10%;
    background-color: #5f5f5f;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: 0px 0px 4px 1px inset rgb(19, 19, 19);
    z-index: 1;
}

.Estuche3 {
    position: relative;
    bottom: 4%;
    right: 30%;
    border-radius: 5px;
    width: 150%;
    height: 46%;
    background-color: #ff0000;
    box-shadow: 0px 0px 10px 1px inset rgb(119, 3, 3);
    z-index: 2;
}

.Estuche4 {
    position: relative;
    top: 15%;
    right: 30%;
    border-radius: 5px;
    width: 150%;
    height: 15%;
    background-color: #ff0000;
    box-shadow: 0px 0px 10px 1px inset rgb(119, 3, 3);
    z-index: 2;
} */